/*CSS TABLE OF CONTENTS
# GLOBAL STYLES
    # GLOBAL VARIABES
    # GLOBAL RESET
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA
   
# LAYOUT
    # MEDIA QUERIES / BREAKPOINTS
    # CONTAINER
    # GRID
    */

/* # SITE STRUCTURE */    



:root{
/* Define all commonly used colors here */
--color-body-background: rgb(0 0 0);
--color-text-body: rgb(255 255 255 / .8);
--color-text-headings: rgb(255 255 255/ 1);
--color-links: rgb(255 230 0/ .7);
--color-links-hover: rgb(255 255 0 / 1);

/* SIZING UNITS */
--container-width: 1200px;
--unit-small: 1em;
--unit-medium: 2em;
--unit-large: 4em;


/*DEFINE ALL FONTS USED HERE*/
--font-body: Helvetica, Arial, sans-serif;
--font-headings: Georgia, serif;

}


/* GLOBAL RESET */
/* REMOVE DEFAULT 8px MARGIN ON BODY */

* { box-sizing: border-box; }
body { margin: 0;}


body {
    /* main body background */
    background-color:var(--color-body-background);

    /* main body text*/
    color:var(--color-text-headings);
}

h1, h2, h3 {
    /*set color of all headings*/
    color:var(--color-text-headings);
}
a {
    /*color of all text links */ 
    color: var(--color-links);
    /* nesting example*/ 
    &:hover {
    /*set the color of all links during hover*/
    color: var(--color-links-hover);
    }
}
/* GLOBAL TYPOGRAPHY */
body { 
    font-family: var(--font-body);
    line-height: 1.4;
}

h1, h2, h3 {
    font-family: var(--font-headings);
}

h1 {
    font-size: 3em;
    line-height: 1.1;
}
h2 {
    font-size: 2em;
    line-height: 1.2;
}

h3{
    font-size: 1.5em;
    line-height: 1.3;
}

p {
/* limit width of all paragraphs (might cause probs for centering later*/
max-width: 65ch;
/*new school widow slayer */
text-wrap: pretty;
}

/*GLOBAL MEDIA */

img {
    max-width: 100%;
    height: auto;
    /* preserves ratio of pic^^*/
}
/*---------------------------------------------------------------------------*/
/*LAYOUT---------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/* RESPONSIVE TYPOGRAPHY VIA MEDIA QUERIES */

/* SMALL SCREENS (Mobile < 768px) */
body {
    /*set body default to 14px*/
    font-size: 87.5%;
}

/* MEDIUM SCREENS (768px < Tablets < 1200px) */
@media (min-width: 768px) {
body {
    /*set body default to 16px*/
    font-size: 100%;
}
}

/* LARGE SCREENS (1200px < laptops, desktops) */
@media (min-width: 1200px) {
    body {
        /*set body default to 18px*/
        font-size: 112.5%;
    }
    }

/* CONTAINER */
.container {
    max-width: var(--container-width);

    /*center container horizontally*/
    margin-left: auto;
    margin-right: auto;
}
/*GRID SYSTEM*/

.row {
    --gridgap: 2em;
    /*vertical gaps between horizontal lines*/
    padding-top: 2em;
    padding-bottom: 2em;
}

/*GRID will only pop up in large screens bc everything stacks on smaller screens*/
@media (min-width: 768px) {
    .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*repeat(12, 1fr) is same as 1fr x 12)*/
    gap: var(--gridgap);
    }
    .one-half {grid-column: auto / span 6; }
    .one-third {grid-column: auto / span 4; }
    .two-thirds {grid-column: auto / pan 8; }
    .one-fourth {grid-column: auto / span 3; }
    .three-fourths {grid-column: auto / span 9; }
       /*bigger the denominator, longer the line bc counting columns across screen^^*/

}
/* 12 collomn classes */
.col-1 { grid-column: auto/ span 1; }
.col-2 { grid-column: auto/ span 2; }
.col-3 { grid-column: auto/ span 3; }
.col-4 { grid-column: auto/ span 4; }
.col-5 { grid-column: auto/ span 5; }
.col-6 { grid-column: auto/ span 6; }
.col-7 { grid-column: auto/ span 7; }
.col-8 { grid-column: auto/ span 8; }
.col-9 { grid-column: auto/ span 9; }
.col-10 { grid-column: auto/ span 10; }
.col-11 { grid-column: auto/ span 11; }
.col-12 { grid-column: auto/ span 12; }



.one-half.centered { grid-column: 4 / span 6; }
.one-third.centered { grid-column: 5 / span 4; }
.two-thirds.centered { grid-column: 3 / span 8; }

/* for demo purposes*/ 
.demo > * {
    background-color: #444;
    padding: 1em;
    text-align: center;
}

/*Pushes*/
.push-1 { grid-column-start: 2; }
.push-2 { grid-column-start: 3; }
.push-3 { grid-column-start: 4; }
.push-4 { grid-column-start: 5; }
.push-5 { grid-column-start: 6; }
.push-6 { grid-column-start: 7; }
.push-7 { grid-column-start: 8; }
.push-8 { grid-column-start: 9; }
.push-9 { grid-column-start: 10; }
.push-10 { grid-column-start: 11; }
.push-11 { grid-column-start: 12; }

/*---------------------------------------------------------------------------*/
/*SITE STRUCTURE---------------------------------------------------------------------*/
/*---------------------------------------------------------------

/*SITE HEADER*/
.site-header {
    background-color: bisque;
}

/*SITE MAIN*/
.site-main {
    background-color: tomato;
}

/*SITE FOOTER*/
.site-footer {
    background-color: aqua;
}